<!-- <div class='top_img'>
</div> -->
<div class="container">
	<ngx-carousel class="actor_profile_list"
	    [inputs]="carouselOne"
	    (carouselLoad)="myfunc($event)">
	  	<ngx-item NgxCarouselItem>
			<div class="col-sm">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="assets/images/slide1.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
	  	</ngx-item>
	    <ngx-item NgxCarouselItem>
			<div class="col-sm">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="assets/images/slide1.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
	  	</ngx-item>
	    <ngx-item NgxCarouselItem>
			<div class="col-sm">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="assets/images/slide1.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
	  	</ngx-item>
	  	<ngx-item NgxCarouselItem>
			<div class="col-sm">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="assets/images/slide1.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
	  	</ngx-item>
		<button NgxCarouselPrev class='leftRs'>&lt;</button>
		<button NgxCarouselNext class='rightRs'>&gt;</button>
	</ngx-carousel>
</div>