<!-- Header --><!-- Header --><!-- Header --><!-- Header --><!-- Header -->
<header>
  <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#"><h1 class="logo">Actfoilo</h1></a>
  </li>
</ul>
</header>
<!-- Header --><!-- Header --><!-- Header --><!-- Header --><!-- Header -->


<router-outlet></router-outlet>

<!-- Footer --><!-- Footer --><!-- Footer --><!-- Footer --><!-- Footer -->
<footer>
  <div class="footer_copy">
      <div class="col-lg-12 text-center">
      <div class="footer-top">
      <ul>
          <li><a href="/skin/page/company01.html">회사소개</a></li>
          <li><a href="/skin/page/service01.html">제품소개</a></li>
          <li><a href="/bbs/bbs/?bbs_no=9">기술자료실</a></li>
          <li><a href="/bbs/bbs/?bbs_no=7">고객센터</a></li>
      </ul>
  </div>
  <div class="footer-middle">
      <ul>
          <li><span>대한민국 모든 배우님들을 응원합니다!</span></li>
      </ul>
  </div>
  <div class="footer-bottom">
      <p>By Jangwon. All Rights Reserved.</p>
  </div><br>    </div>
  </div>
</footer>
<!-- Footer --><!-- Footer --><!-- Footer --><!-- Footer --><!-- Footer -->


